h3 {
text-align: center;
font-family:Arial, Helvetica, sans-serif;
background-color: #5380ad;
color: rgb(248, 249, 250);
margin-top: 0;
margin-bottom: 5px;
padding-top: 5px;
padding-bottom: 5px;
border-right: 2px;
border-color: rgb(250, 248, 248);
}

.statistics-pane {
    float: left;
    width: 13%;
    height: 90vh;
    border: 2px;
    background-color: rgba(255, 255, 255, 0.687);
    z-index: 1500;
    white-space: pre-line;
    overflow-wrap: break-word;
    padding-bottom: 10px;
}
.statistics {
    font-size: 15px;
    margin: 15px; 
    border-color: cadetblue;
}

.statistics-counties{
    margin: auto;
    font-size: 15px;
    text-align: center;
    border-color: cadetblue;
}