body{
    font-family: Arial, Helvetica, sans-serif;
    font: outline;
    font-size: medium;
}
html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }

  .about {
    margin-right: 10%;
    margin-left: 10%;
    text-align: justify;
    background-color: white;
    color: black;
  }