.filter-drawer {
    float: right;
    width: 8%;
    height: 90vh;
    border: 2px;
    background-color: rgba(255, 255, 255, 0.687);
    z-index: 1500;   
}

Button.filter-button {
  width:100%;
  border-radius: 0px;
}

Button.apply-filter-button {
  width:100%;
  align-self: end;
}

input.date-change{
  width: 100%;
  padding: 2px;
}
 