.filter-drawer {
    float: right;
    width: 10%;
    height: 90vh;
    border: 2px;
    background-color: rgba(255, 255, 255, 0.687);
    z-index: 1500;
}

Button.filter-button {
    width:100%;
    border-radius: 0px;
    margin-bottom: 5px;
}

Button.apply-filter-button {
    width:100%;
    align-self: end;
    padding: 0;
}

input.date-change{
    width: 100%;
    padding: 2px;
}

Button.burn-window {
    width:100%;
    border-radius: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.date-change {
    margin-bottom: 10px;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}

.burn-window-loading{
    padding-top: 20px;
    margin: auto;
}

.filtersDescription{
    margin-left: 5px;
    margin-right: 5px;
    white-space: pre-wrap;
}